@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  background-color: #ffffff;
}

a,
.green {
  text-decoration: none;
  color: #00ae9d;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(0, 174, 157, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    width: 100%;
    padding: 0rem;
  }
}